{% extends 'base.html.twig' %}

{% block title %}Modifier le lieu "{{ lieu.adresse }}"{% endblock %}

{% block body %}
    <h1>Modifier le lieu "{{ lieu.adresse }}"</h1>

    {{ include('lieu/_form.html.twig', {'button_label': 'Appliquer'}) }}

    <a href="{{ path('lieu_index') }}">Retour</a>

    {{ include('lieu/_delete_form.html.twig') }}
{% endblock %}
