{% extends 'base.html.twig' %}

{% block title %}Lot{% endblock %}

{% block body %}
    <h1>Lot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lot.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ lot.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ lot.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('encherir_new', {'id': lot.id}) }}">Encherir</a><br>

    <a href="{{ path('lot_index') }}">Retour</a>

    <a href="{{ path('lot_edit', {'id': lot.id}) }}">Modifier</a>

    {{ include('lot/_delete_form.html.twig') }}<br>

    <h2>Listes des enchères</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Prix de l'enchère</th>
            <th>Date et heure</th>
            <th>Acheteur</th>
            <th>Lot</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for encherir in encherir %}
            <tr>
                <td>{{ encherir.id }}</td>
                <td>{{ encherir.prixPropose }}</td>
                <td>{{ encherir.heure ? encherir.heure|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ encherir.idAcheteur }}</td>
                <th>{{ encherir.idLot }}</th>
                <td>
                    <a href="{{ path('encherir_show', {'id': encherir.id}) }}">Afficher</a>
                    <a href="{{ path('encherir_edit', {'id': encherir.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune enchère réalisées.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
