{% extends 'base.html.twig' %}

{% block title %}Acheteur{% endblock %}

{% block body %}
    <h1>Acheteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acheteur.id }}</td>
            </tr>
            <tr>
                <th>Solde</th>
                <td>{{ acheteur.solde }}</td>
            </tr>
            <tr>
                <th>IsSolvable</th>
                <td>{{ acheteur.isSolvable ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Identite</th>
                <td>{{ acheteur.identite }}</td>
            </tr>
            <tr>
                <th>MoyenPaiement</th>
                <td>{{ acheteur.moyenPaiement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('acheteur_index') }}">back to list</a>

    <a href="{{ path('acheteur_edit', {'id': acheteur.id}) }}">edit</a>

    {{ include('acheteur/_delete_form.html.twig') }}
{% endblock %}
