{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>EstimationActuelle</th>
                <td>{{ produit.estimationActuelle }}</td>
            </tr>
            <tr>
                <th>PrixVente</th>
                <td>{{ produit.prixVente }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Artiste</th>
                <td>{{ produit.artiste }}</td>
            </tr>
            <tr>
                <th>Style</th>
                <td>{{ produit.style }}</td>
            </tr>
            <tr>
                <th>DateVente</th>
                <td>{{ produit.dateVente ? produit.dateVente|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('produit_index') }}">back to list</a>

    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
