{% extends 'base.html.twig' %}

{% block title %}Liste des Personnes{% endblock %}

{% block body %}
    <h1>Liste des Personnes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Username</th>
                <th>Email</th>
                <th>NumeroTel</th>
                <th>Password</th>
                <th>Adresse</th>
                <th>CodePostal</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.id }}</td>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.prenom }}</td>
                <td>{{ personne.username }}</td>
                <td>{{ personne.email }}</td>
                <td>{{ personne.numeroTel }}</td>
                <td>{{ personne.password }}</td>
                <td>{{ personne.adresse }}</td>
                <td>{{ personne.codePostal }}</td>
                <td>{{ personne.age }}</td>
                <td>
                    <a href="{{ path('personne_show', {'id': personne.id}) }}">Afficher</a>
                    <a href="{{ path('personne_edit', {'id': personne.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('personne_new') }}">Create new</a>
{% endblock %}
