{% extends 'base.html.twig' %}

{% block title %}Estimation index{% endblock %}

{% block body %}
    <h1>Estimation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estimation</th>
                <th>DateEstimation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estimation in estimations %}
            <tr>
                <td>{{ estimation.id }}</td>
                <td>{{ estimation.estimation }}</td>
                <td>{{ estimation.dateEstimation ? estimation.dateEstimation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('estimation_show', {'id': estimation.id}) }}">show</a>
                    <a href="{{ path('estimation_edit', {'id': estimation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('estimation_new') }}">Create new</a>
{% endblock %}
