{% extends 'base.html.twig' %}

{% block title %}Estimation{% endblock %}

{% block body %}
    <h1>Estimation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estimation.id }}</td>
            </tr>
            <tr>
                <th>Estimation</th>
                <td>{{ estimation.estimation }}</td>
            </tr>
            <tr>
                <th>DateEstimation</th>
                <td>{{ estimation.dateEstimation ? estimation.dateEstimation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('estimation_index') }}">back to list</a>

    <a href="{{ path('estimation_edit', {'id': estimation.id}) }}">edit</a>

    {{ include('estimation/_delete_form.html.twig') }}
{% endblock %}
