{% extends 'base.html.twig' %}

{% block title %}Modifier la vente "{{ enchere.nom }}"{% endblock %}

{% block body %}
    <h1>Modifier la vente "{{ enchere.nom }}"</h1>

    {{ include('enchere/_form.html.twig', {'button_label': 'Appliquer'}) }}

    <a href="{{ path('enchere_index') }}">Retour</a>

    {{ include('enchere/_delete_form.html.twig') }}
{% endblock %}
