{% extends 'base.html.twig' %}

{% block title %}Enchere{% endblock %}

{% block body %}
    <h1>Enchere</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enchere.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ enchere.nom }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ enchere.dateDebut ? enchere.dateDebut|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ enchere.dateFin ? enchere.dateFin|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('enchere_index') }}">Retour</a>

    <a href="{{ path('enchere_edit', {'id': enchere.id}) }}">Modifier</a>

    {{ include('enchere/_delete_form.html.twig') }}
{% endblock %}
