{% extends 'base.html.twig' %}

{% block title %}OrdreAchat index{% endblock %}

{% block body %}
    <h1>OrdreAchat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>MontantMax</th>
                <th>AdresseDepot</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ordre_achat in ordre_achats %}
            <tr>
                <td>{{ ordre_achat.id }}</td>
                <td>{{ ordre_achat.montantMax }}</td>
                <td>{{ ordre_achat.adresseDepot }}</td>
                <td>
                    <a href="{{ path('ordre_achat_show', {'id': ordre_achat.id}) }}">show</a>
                    <a href="{{ path('ordre_achat_edit', {'id': ordre_achat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ordre_achat_new') }}">Create new</a>
{% endblock %}
