{% extends 'base.html.twig' %}

{% block title %}Liste des Enchères{% endblock %}

{% block body %}
    <h1>Liste des Enchères</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix de l'enchère</th>
                <th>Date et heure</th>
                <th>Acheteur</th>
                <th>Lot</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for encherir in encherirs %}
            <tr>
                <td>{{ encherir.id }}</td>
                <td>{{ encherir.prixPropose }}</td>
                <td>{{ encherir.heure ? encherir.heure|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ encherir.idPersonne }}</td>
                <th>{{ encherir.idLot }}</th>
                <td>
                    <a href="{{ path('encherir_show', {'id': encherir.id}) }}">Afficher</a>
                    <a href="{{ path('encherir_edit', {'id': encherir.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune enchère réalisées.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
