{% extends 'base.html.twig' %}

{% block title %}Encherir index{% endblock %}

{% block body %}
    <h1>Encherir index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PrixPropose</th>
                <th>Heure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for encherir in encherirs %}
            <tr>
                <td>{{ encherir.id }}</td>
                <td>{{ encherir.prixPropose }}</td>
                <td>{{ encherir.heure ? encherir.heure|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('encherir_show', {'id': encherir.id}) }}">show</a>
                    <a href="{{ path('encherir_edit', {'id': encherir.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('encherir_new') }}">Create new</a>
{% endblock %}
